
<!DOCTYPE html>
<html>
<body class="main_body">

<h1 class="main_h1 center">Eyebook</h1>
<div class="center">
<%= link_to 'Let', posts_path("let" => true), class: "button" %>

<%= link_to 'Rent', posts_path, class: "button" %>
</div>
</body>
</html>
